@page "/webScrap"
@inject ICarService carService

<h3>SAutoScrap</h3>

@code {
    private IEnumerable<Car> cars;

    protected override Task OnInitializedAsync()
    {
        cars = carService.ScrapAndProcessData();

        return base.OnInitializedAsync();
    }
}
